<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>APRS Nearest Weather Live map</title>
    <meta name="lang" content="en" />
    <meta charset="utf-8" />
    
    <!-- Theme CSS (load early to prevent flash) -->
    <link rel="stylesheet" href="/static/css/theme.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"
            integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
            crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-sidebar-v2@3.2.3/css/leaflet-sidebar.min.css" />
    <link rel="stylesheet" href="/static/css/control.minimap.css">
    <script src="/static/js/control.minimap.js"></script>

    <link rel="stylesheet" href="/static/css/control.fullscreen.css">
    <script src="/static/js/control.fullscreen.js"></script>

    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.1/css/leaflet.extra-markers.min.css"
          integrity="sha512-wurszDyO1nj6ESdfrXb9h1hmoHMu3sQ3iXgKcu/p81lT+KaPGkta9NIPX7k6XXGgVYpcRHcc8AA4UIeQ7Ax/Cw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.1/js/leaflet.extra-markers.min.js"
            integrity="sha512-ejMFZwlfxDqEaSHHcCJ9EhzzDyp3QB5NjmGfOp1iwUQ7pFam2pX3EKERWvWK8H5HLQG6ETrx3RvrEFMQ4kIQ/Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    //-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.2/css/leaflet.extra-markers.min.css" integrity="sha512-wurszDyO1nj6ESdfrXb9h1hmoHMu3sQ3iXgKcu/p81lT+KaPGkta9NIPX7k6XXGgVYpcRHcc8AA4UIeQ7Ax/Cw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.2/js/leaflet.extra-markers.min.js" integrity="sha512-gGvL9Bo9cO1AY2+HRK8q4+d9yvy7z7dHhLL2YRFdoV7xZSP8wtGZltrmNDvBzIiwaBsybPmg5od7X6BlZh4kKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- 
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    //-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.min.css" integrity="sha512-ENrTWqddXrLJsQS2A86QmvA17PkJ0GVm1bqj5aTgpeMAfDKN2+SIOLpKG8R/6KkimnhTb+VW5qqUHB/r1zaRgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.min.css" integrity="sha512-fYyZwU1wU0QWB4Yutd/Pvhy5J1oWAwFXun1pt+Bps04WSe4Aq6tyHlT4+MHSJhD8JlLfgLuC4CbCnX5KHSjyCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.min.js" integrity="sha512-TiMWaqipFi2Vqt4ugRzsF8oRoGFlFFuqIi30FFxEPNw58Ov9mOy6LgC05ysfkxwLE0xVeZtmr92wVg9siAFRWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Chart.js for temperature graphs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

    <!-- Dark mode CSS -->
    <link rel="stylesheet" href="/static/css/sidebar-dark.css">
    <link rel="stylesheet" href="/static/css/map-dark.css">
    <link rel="stylesheet" href="/static/css/responsive.css">

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        .lorem {
            font-style: italic;
            text-align: justify;
            color: #AAA;
        }
    </style>
    <script src="/static/js/map_leaflet.js"></script>
    <script src="/static/js/weather-layers.js"></script>
    <script src="/static/js/theme-toggle.js"></script>
    <script defer src="/markers.js"></script>
    <script type="text/javascript">
            var initial_stats = {{ initial_stats|tojson|safe }};
            var markers = L.markerClusterGroup();
            $(document).ready(function() {
                start_requests_update();
            });
    </script>
</head>
<body>
    <!-- optionally define the sidebar content via HTML markup -->
    <div id="sidebar" class="leaflet-sidebar collapsed">

        <!-- nav tabs -->
        <div class="leaflet-sidebar-tabs">
            <!-- top aligned tabs -->
            <ul role="tablist">
                <li><a href="#home" role="tab" title="Menu">&#9776;</a></li>
            </ul>
        </div>

        <!-- panel content -->
        <div class="leaflet-sidebar-content">
            <div class="leaflet-sidebar-pane" id="home" style="padding-left: 0px;">
                <h1 class="leaflet-sidebar-header">
                    WXNOW APRS Nearest Weather
                    <span class="leaflet-sidebar-close" title="Close">&#10094;</span>
                </h1>
                <!-- Theme toggle in sidebar -->
                <div class="sidebar-theme-toggle">
                    <button class="theme-toggle" aria-label="Switch to light mode" title="Toggle dark/light mode">
                        <i class="fa fa-sun-o theme-toggle-light"></i>
                        <i class="fa fa-moon-o theme-toggle-dark"></i>
                        <span class="theme-toggle-label">Theme</span>
                    </button>
                </div>
                <div id="badges" style="margin-top: 25px;">
                    <a href="https://www.twitter.com/wb4bor"><img style="width:20px;height:20px;" src="/static/images/twitter_logo_64.png"/>@WB4BOR</a>
                    <br>
                    <p class="h6">
                        Built using
                        <a href="https://github.com/craigerl/aprsd#aprsd---ham-radio-aprs-is-message-plugin-server" target="_blank" rel="noopener noreferrer">APRSD</a>
                        Version {{ aprsd_version }}</p>
                    <span class='h6 callsign-primary'>{{ callsign }}</span> connected to
                    <span class='h6' id='aprs_connection'>{{ aprs_connection|safe }}</span>
                    <br>
                    <span class='h6 text-label'>Uptime: </span>
                    <span class='h6' id='uptime'>{{ uptime|safe }}</span>
                    <br><br>
                    <a href="https://badge.fury.io/py/aprsd"><img
                            src="https://img.shields.io/badge/APRSD-Version%20{{ aprsd_version }}-brightgreen"
                            alt="APRSD version" height="18"></a>
                    <a href="https://github.com/craigerl/aprsd"><img
                            src="https://img.shields.io/badge/Made%20with-Python-1f425f.svg"
                            height="18"></a>
                    <div id='requests' style="height:80%; max-height:80%; overflow-y: scroll; margin-top: 25px;">
                        <div id='requests_list' class="list-group"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="map"></div>

    <!-- <a href="https://github.com/nickpeihl/leaflet-sidebar-v2/"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a> //-->

    <script src="https://unpkg.com/leaflet-sidebar-v2@3.2.3/js/leaflet-sidebar.min.js"></script>
    <script>
        // Light tiles (OSM)
        var osmUrl = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib = '&copy; OpenStreetMap';
        var osm = L.tileLayer(osmUrl, {
            maxZoom: 19,
            attribution: osmAttrib
        });
        
        // Dark tiles (CartoDB Dark Matter)
        var darkUrl = 'https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png';
        var darkAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>';
        var darkTiles = L.tileLayer(darkUrl, {
            maxZoom: 19,
            attribution: darkAttrib,
            subdomains: 'abcd'
        });
        
        // Choose default based on theme
        var currentTheme = document.documentElement.getAttribute('data-theme') || 'dark';
        var defaultLayer = currentTheme === 'dark' ? darkTiles : osm;
        
        // standard leaflet map setup
        var map = L.map('map', {
           center: [37.344, -78.84933],
           zoom: 5,
           layers: [defaultLayer]
        });

        const mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
        var mbUrl = "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ mapbox_token }}"

        const streets = L.tileLayer(mbUrl, {id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr});
        const satellite = L.tileLayer(mbUrl, {id: 'mapbox/satellite-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr});
        const terrain = L.tileLayer(mbUrl, {id: 'mapbox/mapbox-terrain-v2', tileSize: 512, zoomOffset: -1, attribution: mbAttr});

        var baseLayers = {
            "Dark (CartoDB)": darkTiles,
            "OpenStreetMap": osm,
            "Mapbox Streets": streets,
            "Mapbox Satellite": satellite,
            "Mapbox Terrain": terrain
        };
        const layerControl = L.control.layers(baseLayers).addTo(map);
        
        // Theme change listener - switch map tiles when theme changes
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.attributeName === 'data-theme') {
                    var theme = document.documentElement.getAttribute('data-theme');
                    if (theme === 'dark' && !map.hasLayer(darkTiles)) {
                        map.removeLayer(osm);
                        map.removeLayer(streets);
                        map.removeLayer(satellite);
                        map.removeLayer(terrain);
                        map.addLayer(darkTiles);
                    } else if (theme === 'light' && !map.hasLayer(osm)) {
                        map.removeLayer(darkTiles);
                        map.addLayer(osm);
                    }
                }
            });
        });
        observer.observe(document.documentElement, { attributes: true });

        // Minimap - use dark or light tiles based on theme
        var miniMapLayer = currentTheme === 'dark' 
            ? new L.tileLayer(darkUrl, {minZoom: 0, maxZoom: 13, attribution: darkAttrib, subdomains: 'abcd'})
            : new L.tileLayer(osmUrl, {minZoom: 0, maxZoom: 13, attribution: osmAttrib});
        var miniMap = new L.Control.MiniMap(miniMapLayer, { toggleDisplay: true }).addTo(map);

        // create a fullscreen button and add it to the map
        L.control.fullscreen({
          position: 'topleft', // change the position of the button can be topleft, topright, bottomright or bottomleft, default topleft
          title: 'Show me the fullscreen !', // change the title of the button, default Full Screen
          titleCancel: 'Exit fullscreen mode', // change the title of the button when fullscreen is on, default Exit Full Screen
          content: null, // change the content of the button, can be HTML, default null
          forceSeparateButton: true, // force separate button to detach from zoom buttons, default false
          forcePseudoFullscreen: true, // force use of pseudo full screen even if full screen API is available, default false
          fullscreenElement: false // Dom element to render in full screen, false by default, fallback to map._container
        }).addTo(map);

        // events are fired when entering or exiting fullscreen.
        map.on('enterFullscreen', function(){
          console.log('entered fullscreen');
        });

        map.on('exitFullscreen', function(){
          console.log('exited fullscreen');
        });

        map.addLayer(markers);

        // create the sidebar instance and add it to the map
        var sidebar = L.control.sidebar({ container: 'sidebar' })
            .addTo(map).open('home');

        // Add weather layers control
        L.control.weatherLayers({
            position: 'topright',
            openWeatherApiKey: '{{ openweathermap_api_key }}'
        }).addTo(map);

    </script>
</body>
</html>
